# Ignore build output and dependencies
node_modules/
dist/

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore system and OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore files generated during testing
coverage/
